.filterControl :global(.MuiInputBase-root) {
  font-size: 0.8125rem;
}

.filterControl :global(.MuiInputLabel-root) {
  font-size: 0.75rem;
}

.filterControl :global(.MuiInputLabel-shrink) {
  transform: translate(12px, -7px) scale(1);
}

.filterMenu :global(.MuiMenuItem-root) {
  font-size: 0.8125rem;
}

.filterPlaceholder,
.filterPlaceholder input::placeholder {
  color: #5d5f61;
}

.filterPlaceholder input::placeholder {
  opacity: 1;
}
